@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
    <li>To associate a recipe to a book, go to the "add new recipe" option in the book's recipe listing.</li>
    <li>DB relationship: Many Books x Many Recipes</li>
</ul>
